---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

import PostPreview from "@/components/PostPreview"
import PageLayout from "@/layouts/Page";

import { getAllPosts, sortMDByDate } from "@/utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();
	const allPostsByDate = sortMDByDate(allPosts);
	return paginate(allPostsByDate, { pageSize: 10, props: { } });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
}

const { page } = Astro.props;


---

<PageLayout title="All Posts">
	<h1>Posts</h1>
	<div>
		<section aria-label="Blog post list">
			<ul>
				{
					page.data.map((p) => (
						<li>
							<PostPreview as="h2" post={p} />
						</li>
					))
				}
			</ul>
		</section>
	</div>
</PageLayout>