---
import PageLayout from "../../layouts/Page.astro";
import PageWrapper from "../../components/PageWrapper.astro";
---

<PageLayout title="Moved">
	<PageWrapper currentPage="posts">
		<p class="text-lg">This page has moved to <a href="/posts" class="text-ink underline">/posts</a>.</p>
	</PageWrapper>
</PageLayout>
