---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import PageWrapper from "../components/PageWrapper.astro";
import PostPreview from "../components/PostPreview.astro";
import "../styles/global.css";

// Get all posts, sort by date
const posts = await getCollection("post", ({ data }) => {
	return !data.draft;
});

const sortedPosts = posts.sort((a, b) => {
	return (
		new Date(b.data.publishDate).getTime() -
		new Date(a.data.publishDate).getTime()
	);
});
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Balagopal Kanattil</title>
		<meta
			name="description"
			content="Software Engineer specializing in databases, distributed systems, and programming languages"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	</head>
	<body>
		<PageWrapper currentPage="home">
			<section class="mb-8">
				<p class="mb-4 text-xl">
					Hi, I'm a self-taught developer with a formal education in
					Physics from IIT Bombay. Currently, I work as a Software
					Engineer at Amazon, focusing on Databases and Distributed
					Systems.
				</p>
				<p class="text-xl">
					Outside of tech, I enjoy spending time bouldering or
					cooking. I am also a big fan of horror, particularly the
					works of Junji Ito and H.P. Lovecraft.
				</p>
			</section>

			<section class="mb-8">
				<h2
					class="text-2xl font-normal inline-block border-b border-gray-600 mb-6"
				>
					Recent Posts
				</h2>
				<ul class="space-y-6">
					{
						sortedPosts
							.slice(0, 2)
							.map((post) => (
								<PostPreview post={post} variant="home" />
							))
					}
				</ul>
			</section>

			<section>
				<h2
					class="text-2xl font-normal inline-block border-b border-gray-600 mb-6"
				>
					Contact
				</h2>
				<div class="flex space-x-6">
					<a
						href="https://github.com/kanatti"
						class="flex items-center text-ink hover:text-gray-600 hover:underline text-lg"
					>
						<Icon
							name="mdi:github"
							aria-hidden="true"
							focusable="false"
							class="inline-block w-5 h-5 mr-1"
						/>
						GitHub
					</a>
					<a
						href="https://twitter.com/bkanattil"
						class="flex items-center text-ink hover:text-gray-600 hover:underline text-lg"
					>
						<Icon
							name="mdi:twitter"
							aria-hidden="true"
							focusable="false"
							class="inline-block w-5 h-5 mr-1"
						/>
						Twitter
					</a>
					<a
						href="mailto:balukanattil@gmail.com"
						class="flex items-center text-ink hover:text-gray-600 hover:underline text-lg"
					>
						<Icon
							name="mdi:email"
							aria-hidden="true"
							focusable="false"
							class="inline-block w-5 h-5 mr-1"
						/>
						Email
					</a>
				</div>
			</section>
		</PageWrapper>
	</body>
</html>
