---
import PageLayout from "../layouts/Page.astro";
import PageWrapper from "../components/PageWrapper.astro";
---

<PageLayout title="Projects">
    <PageWrapper currentPage="projects">
        <section class="text-center">
            <p class="text-lg text-ink-light">Coming Soon...</p>
        </section>
    </PageWrapper>
</PageLayout>
