---
import { menuLinks } from "@/settings";

const year = new Date().getFullYear();
---

<footer>
    <div>
        Copyright &copy; {year} Balagopal Kanattil
    </div>
    <nav>
        {
            menuLinks.map((menuLink) => (
                <a href={menuLink.path}>{menuLink.title}</a>
            ))
        }
    </nav>
</footer>
