---
import { menuLinks } from "@/settings";
import logoSvg from "../logo.svg";
---

<header
    id="main-header"
    class="group relative mb-28 flex items-center sm:ps-[4.5rem]"
>
    <div class="flex sm:flex-col">
        <a
            href="/"
            class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
        >
            <img
                class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12 sm:-mt-4"
                src={logoSvg.src}
                style="height: 80px"
            />
            <span class="text-xl font-bold sm:text-2xl">Balagopal Kanattil</span
            >
        </a>
        <nav
            id="navigation-menu"
            class=`absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85]
                py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex
                sm:static sm:z-auto sm:-ms-8 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x
                sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none`
        >
            {
                menuLinks.map((menuLink) => (
                    <a
                        href={menuLink.path}
                        class="px-8 py-4 sm:py-0 sm:hover:underline"
                    >
                        {menuLink.title}
                    </a>
                ))
            }
        </nav>
    </div>
</header>
