---
import { menuLinks } from "@/settings";
import logoSvg from "../logo.svg";
---

<header id="main-header">
    <div>
        <a href="/">
            <img src={logoSvg.src} style="height: 80px" />
            <span>Balagopal Kanattil</span>
        </a>
        <nav id="navigation-menu">
            {
                menuLinks.map((menuLink) => (
                    <a href={menuLink.path}>{menuLink.title}</a>
                ))
            }
        </nav>
    </div>
</header>
