---
import type { HTMLTag, Polymorphic } from "astro/types";
import type { CollectionEntry } from "astro:content";

import FormattedDate from "./FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.publishDate;

console.log(postDate);
---

<FormattedDate date={postDate} />
<Tag>
	{post.data.draft && <span>(Draft) </span>}
	<a data-astro-prefetch href={`/posts/${post.slug}/`}>
		{post.data.title}
	</a>
</Tag>
{withDesc && <q>{post.data.description}</q>}
