<span class="sidenote">
    <slot />
</span>

<style is:global>
    .sidenote {
        float: right;
        clear: right;
        margin-right: -45%;
        width: 38%;
        margin-top: 0.5rem;
        margin-bottom: 0;
        vertical-align: baseline;
        position: relative;
        counter-increment: sidenote-counter;
        font-size: 0.9rem !important;
        color: #666666 !important;
        line-height: 1.6 !important;
    }

    .sidenote::before {
        content: "";
    }

    @media (max-width: 1079px) {
        .sidenote::before {
            content: "";
        }

        .sidenote {
            display: none;
        }
    }

    .sidenote a {
        color: inherit;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
    }

    .sidenote a:hover {
        opacity: 0.8;
    }
</style>
