---
import type { CollectionEntry } from "astro:content";
import clsx from "clsx";

interface Props {
	post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const {
	data: { description, ogImage, publishDate, title, updatedDate },
	slug,
} = post;
const socialImage = ogImage ?? `/og-image/${slug}.png`;
const { headings } = await post.render();

const classes = [
	// Setup Prose
	"prose prose-slate lg:prose-xl",
	// all headings
	"prose-headings:font-normal",
	// h1
	"prose-h1:text-4xl prose-h1:border-b prose-h1:border-slate-700",
	// h2
	"prose-h2:text-3xl prose-h2:inline-block prose-h2:border-b prose-h2:border-slate-700",
	// h3
	"prose-h3:text-2xl",
	// h4
	"prose-h4:text-xl",
	// p
	"prose-p:text-lg prose-p:text-slate-950",
	// ol
	"prose-ol:text-lg prose-ol:text-slate-950",
	// ul
	"prose-ul:text-lg prose-ul:text-slate-950",
	// li
	"prose-li:my-1",
	// code
	"prose-code:text-sm prose-code:before:hidden prose-code:after:hidden",
	// code block
	"prose-pre:rounded-sm",
];

const articleClasses = clsx(classes, "prose-pre:rounded-smt");
---

<div class="text-slate-950 mx-4 my-4 lg:mx-24 lg:my-12">
	<article class={articleClasses}>
		<slot />
	</article>
</div>
